# Python & Environments
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Data & Models (Too large for git)
data/*.npy
*.pth
*.pt

# IDEs
.vscode/
.idea/

# Images (Optional, keep final results but ignore tests)
*.png
!deepflow_final_result.png
!result_plot.png